<%- include('partials/header'); -%>

<div class="signup-container">
    <form action="/signup" method="POST" class="signup-form">
        <h2>Sign Up</h2>

        <div class="input-container">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
            <div class="error"></div>
        </div>

        <div class="input-container">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" placeholder="Enter your age" required>
            <div class="error"></div>
        </div>

        <div class="input-container">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
            <div class="error"></div>
        </div>

        <div class="input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <div class="error"></div>
        </div>

        <button type="submit" class="signup-button">Sign Up</button>
    </form>
</div>

<script>
    const form = document.querySelector('.signup-form');

    form.addEventListener('submit', async(e) => {
        e.preventDefault();
        
        const errors = form.querySelectorAll('.error');
        errors.forEach(error => error.textContent = ''); // Clear previous errors

        const name = form.name.value;
        const age = form.age.value;
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ name, age, email, password }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                Object.keys(data.errors).forEach(key => {
                    const errorElement = form.querySelector(`.error.${key}`);
                    if (errorElement) errorElement.textContent = data.errors[key];
                });
            }
            if (data.user) {
                console.log('user created');
                location.assign('/social');
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>

<%- include('partials/footer'); -%>
